# Archivos de compilación
Debug/
Release/
build/
bin/

# Archivos de configuración de usuario del IDE
.settings/
.project
.cproject
.mxproject
*.launch

# Archivos temporales del sistema
.DS_Store
Thumbs.db
